<td
    style="padding: 0cm 5.4pt;"
    valign="top">
    <div style=" vertical-align: top;">
        <img src="# profile_image_url #" alt="NO IMAGE" style="height:80px;width:auto;padding: 0cm 5.4pt;vertical-align: top;padding-top: 5.4pt;"/>
        <p>#first_name# </p>
    </div>
</td>