<div style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;">
    <strong><span style="font-family:Nunito;">
        Borrowers
    </span></strong>
    <table border="0" cellpadding="0" cellspacing="0" style="width:553.5pt;border-collapse:collapse;border:none;"
           width="738">
        <tbody>
        <tr>
            <td colspan="8"
                style="width: 553.5pt; padding: 0cm 5.4pt;vertical-align: top;"
                valign="top" width="100%">
				<img src="#p rofile_image_url #" alt="NO IMAGE" style="height:80px;width:auto;padding: 0cm 5.4pt;vertical-align: top;padding-top: 5.4pt;"/>
				<p>#first_name# </p>
            </td> 
        </tr>
        </tbody>
    </table>
</div>