<div style="padding-top:1cm;margin: 0cm; margin-bottom: .0001pt;margin-top: 10px; font-size: 14px; font-family: 'Calibri',sans-serif;" align="center">
	<table border="1" cellpadding="0" cellspacing="0" style="width:555pt;border-collapse:collapse;border:none;" width="725">
        <tbody>
        <tr style="height: 66px;">
            <td style="width: 156.625px; border: 1pt solid windowtext; padding: 0cm 5.4pt; height: 64px;" rowspan="3">
                <p style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Calibri',sans-serif; margin-top: 6.0pt; text-align: center; line-height: 115%;">
                    <span style="font-family: Nunito; font-size: 12px;"> <img
                            src="https://api.petromoney.in/template/assets/logo.png" alt="Petromoney Fintech | logo"
                            width="73" height="81"/> </span></p>
                <p style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Calibri',sans-serif; text-align: center; line-height: 115%;">
                    <span style="font-size: 12px;"><em><span style="line-height: 115%; font-family: Nunito;">Your Partner for Profits</span></em> </span>
                </p>
                <p style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Calibri',sans-serif; text-align: center; line-height: 115%;">
                    <span style="font-size: 12px;"><strong><span style="font-family: Nunito; color: #546b2d;">PETROMONEY FINTECH</span></strong> </span>
                </p>
                <p style="margin: 0cm 0cm 6.0pt 1.4pt; font-size: 16px; font-family: 'Calibri',sans-serif; text-align: center; text-indent: -1.4pt; line-height: 115%;">
                    <em><span style="font-size: 12px;"><span
                            style="line-height: 115%; font-family: Nunito; color: #353a4c;">(A Unit of Green Malabar Finance Ventures Ltd.)</span></span></em>
                </p>
            </td>
            <td style="border-top: 1pt solid windowtext; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-image: initial; border-left: none; padding: 0cm 5.4pt; vertical-align: top; width: 291.625px; height: 32px;">
                <p style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Calibri',sans-serif; line-height: 115%;">
                    <span style="font-size: 12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Branch Name</span></strong> </span>
                </p>
                <p style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Calibri',sans-serif; text-align: center; line-height: 115%;">
                    <span style="font-size: 12px;"><span style="font-family: Nunito;">Chennai</span></span></p>
            </td>
            <td style="border-top: 1pt solid windowtext; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-image: initial; border-left: none; padding: 0cm 5.4pt; vertical-align: top; width: 320.625px; height: 32px;">
                <p style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Calibri',sans-serif; line-height: 115%;">
                    <span style="font-size: 12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Loan Type</span></strong> </span>
                </p>
                <p style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Calibri',sans-serif; text-align: center; line-height: 115%;">
                    <span style="font-size: 12px;"><span style="font-family: Nunito;">FUEL</span></span></p>
            </td>
            <td style="border-top: 1pt solid windowtext; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-image: initial; border-left: none; padding: 0cm 5.4pt; height: 32px; vertical-align: top; width: 327.625px;"
                valign="top">
                <p style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Calibri',sans-serif; line-height: 115%;">
                    <span style="font-size: 12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Supplier Name</span></strong> </span>
                </p>
                <p style="margin: 0cm 0cm 0.0001pt; font-size: 16px; font-family: Calibri, sans-serif; line-height: 115%; text-align: center;">
                    &nbsp;</p>
            </td>
        </tr>
        <tr style="height: 22px;">
            <td style="width: 291.625px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0cm 5.4pt; height: 22px; vertical-align: top;"
                valign="top">
                <p style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Calibri',sans-serif; line-height: 115%;">
                    <span style="font-size: 12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Invoice Amount</span></strong> </span>
                </p>
                <p style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Calibri',sans-serif; text-align: center; line-height: 115%;">
                    &nbsp;</p>
            </td>
            <td style="width: 320.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 22px; vertical-align: top;"
                valign="top">
                <p style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Calibri',sans-serif; line-height: 115%;">
                    <span style="font-size: 12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Down Payment</span></strong> </span>
                </p>
                <p style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Calibri',sans-serif; text-align: center; line-height: 115%;">
                    &nbsp;</p>
            </td>
            <td style="width: 327.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 22px; vertical-align: top;"
                valign="top">
                <p style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Calibri',sans-serif; line-height: 115%;">
                    <span style="font-size: 12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Loan Amount</span></strong> </span>
                </p>
                <p style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Calibri',sans-serif; text-align: center; line-height: 115%;">
                    &nbsp;</p>
            </td>
        </tr>
        <tr style="height: 20px;">
            <td style="width: 291.625px; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0cm 5.4pt; height: 10px; vertical-align: top;"
                valign="top">
                <p style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Calibri',sans-serif; line-height: 115%;">
                    <span style="font-size: 12px;"><strong><span style="line-height: 115%; font-family: Nunito;">EMI Amount</span></strong> </span>
                </p>
                <p style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Calibri',sans-serif; text-align: center; line-height: 115%;">
                    &nbsp;</p>
            </td>
            <td style="width: 320.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 10px; vertical-align: top;"
                valign="top">
                <p style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Calibri',sans-serif; line-height: 115%;">
                    <span style="font-size: 12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Tenor (in Days)</span></strong> </span>
                </p>
                <p style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Calibri',sans-serif; text-align: center; line-height: 115%;">
                    <span style="font-size: 12px;"><span style="font-family: Nunito;">15</span></span></p>
            </td>
            <td style="width: 327.625px; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 10px; vertical-align: top;"
                valign="top">
                <p style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Calibri',sans-serif; line-height: 115%;">
                    <span style="font-size: 12px;"><strong><span
                            style="line-height: 115%; font-family: Nunito;">Date</span></strong> </span></p>
                <p style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Calibri',sans-serif; text-align: center; line-height: 115%;">
                    <span style="font-size: 12px;"><span style="font-family: Nunito;">#date#</span></span></p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;margin-top:6.0pt;text-align:center;line-height:115%;"><span
        style="font-size:
      12px;"><strong><u><span style="font-family:Nunito;">DEALER &#8208; APPLICATION FORM</span></u>
	</strong>
	</span>
</p>
<p style="margin:0cm;margin-bottom:6.0pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
        style="font-size:
      12px;"><span style="line-height: 115%; font-family: Nunito;">(Please use BLACK INK and CAPITAL LETTERS while filing the form. All fields in "*" are MANDATORY.)</span></span>
</p>
<div align="center" style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;">
    <table border="1" cellpadding="0" cellspacing="0" style="width:553.5pt;border-collapse:collapse;border:none;"
           width="738">
        <tbody>
        <tr>
            <td colspan="8"
                style="width: 553.5pt;border: 1pt solid windowtext;padding: 0cm 5.4pt;height: 32.4pt;vertical-align: top;"
                valign="top" width="100%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Name of Entity*&nbsp;</span></strong><span
                        style="line-height: 115%; font-family: Nunito;">(as per given in registration certificate)</span></span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#name#</span></span>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="8"
                style="width: 553.5pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 32.4pt;vertical-align: top;"
                valign="top" width="100%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Trading Name*&nbsp;</span></strong><span
                        style="line-height: 115%; font-family: Nunito;">(if different from above)</span></span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#name#</span></span>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="4"
                style="width: 264.7pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 32.4pt;vertical-align: top;"
                valign="top" width="47.8319783197832%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">PAN*</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#pan#</span></span>
                </p>
            </td>
            <td colspan="4"
                style="width: 288.75pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 32.4pt;vertical-align: top;"
                valign="top" width="52.1680216802168%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">GST*</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#gst#</span></span>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2"
                style="width: 147.8pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 30.15pt;vertical-align: top;"
                valign="top" width="26.693766937669377%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Dealer Code</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#id#</span></span>
                </p>
            </td>
            <td colspan="3"
                style="width: 203pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 30.15pt;vertical-align: top;"
                valign="top" width="36.72086720867209%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">OMC</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#omc#</span></span>
                </p>
            </td>
            <td colspan="3"
                style="width: 202.7pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 30.15pt;vertical-align: top;"
                valign="top" width="36.58536585365854%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Outlet Type</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">  </span></span>
                </p>
            </td>
        </tr>
        <tr>
            <td style="width: 129.8pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 30.15pt;vertical-align: top;"
                valign="top" width="23.441734417344172%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Business Type</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#business_type#</span></span>
                </p>
            </td>
            <td colspan="3"
                style="width: 134.85pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 30.15pt;vertical-align: top;"
                valign="top" width="24.390243902439025%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Business Since</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#business_age#</span></span>
                </p>
            </td>
            <td colspan="3"
                style="width: 142.6pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 30.15pt;vertical-align: top;"
                valign="top" width="25.745257452574524%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Business Property</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#business_property#</span></span>
                </p>
            </td>
            <td style="width: 146.15pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 30.15pt;vertical-align: top;"
                valign="top" width="26.422764227642276%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Occupied Since</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#business_age#</span></span>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="4"
                style="width: 264.7pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 76.25pt;vertical-align: top;"
                valign="top" width="47.8319783197832%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Business Address*</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#address#</span></span>
                </p>
            </td>
            <td colspan="4"
                style="width: 288.75pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 76.25pt;vertical-align: top;"
                valign="top" width="52.1680216802168%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span
                        style="line-height: 115%; font-family: Nunito;">Registered Office Address*</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#address#</span></span>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="4"
                style="width: 264.7pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 30.15pt;vertical-align: top;"
                valign="top" width="47.8319783197832%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">City</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#district#</span></span>
                </p>
            </td>
            <td colspan="4"
                style="width: 288.75pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 30.15pt;vertical-align: top;"
                valign="top" width="52.1680216802168%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">City</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#district#</span></span>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="4"
                style="width: 264.7pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 30.15pt;vertical-align: top;"
                valign="top" width="47.8319783197832%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Pincode</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#pincode#</span></span>
                </p>
            </td>
            <td colspan="4"
                style="width: 288.75pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 30.15pt;vertical-align: top;"
                valign="top" width="52.1680216802168%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Pincode</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#pincode#</span></span>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="4"
                style="width: 264.7pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 30.15pt;vertical-align: top;"
                valign="top" width="47.8319783197832%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Landline</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;"></span></span>
                </p>
            </td>
            <td colspan="4"
                style="width: 288.75pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 30.15pt;vertical-align: top;"
                valign="top" width="52.1680216802168%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Landline</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;"></span></span>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="4"
                style="width: 264.7pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 26.45pt;vertical-align: top;"
                valign="top" width="47.8319783197832%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Mobile</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#mobile#</span></span>
                </p>
            </td>
            <td colspan="4"
                style="width: 288.75pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 26.45pt;vertical-align: top;"
                valign="top" width="52.1680216802168%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Mobile</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#mobile#</span></span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;"><span
                        style="font-size:
      12px;"><span style="font-family: Nunito;"></span></span>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="4"
                style="width: 264.7pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 30.15pt;vertical-align: top;"
                valign="top" width="47.8319783197832%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Contact Person</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#dealer_name#</span></span>
                </p>
            </td>
            <td colspan="4"
                style="width: 288.75pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 30.15pt;vertical-align: top;"
                valign="top" width="52.1680216802168%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Designation</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">Proprietor</span></span>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="3"
                style="width: 184.45pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 30.15pt;vertical-align: top;"
                valign="top" width="33.333333333333336%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Email</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#email#</span></span>
                </p>
            </td>
            <td colspan="3"
                style="width: 177.2pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 30.15pt;vertical-align: top;"
                valign="top" width="31.978319783197833%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Mobile</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#mobile#</span></span>
                </p>
            </td>
            <td colspan="2"
                style="width: 191.8pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 30.15pt;vertical-align: top;"
                valign="top" width="34.68834688346883%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span
                        style="line-height: 115%; font-family: Nunito;">Preferred mode of Communication</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">Mobile</span></span>
                </p>
            </td>
        </tr>
        <tr>
            <td style="border:none;" width="23.465703971119133%"><span style="font-size:
      12px;">
            <br>
          </span></td>
            <td style="border:none;" width="3.2490974729241877%"><span style="font-size:
      12px;">
            <br>
          </span></td>
            <td style="border:none;" width="6.67870036101083%"><span style="font-size:
      12px;">
            <br>
          </span></td>
            <td style="border:none;" width="14.440433212996389%"><span style="font-size:
      12px;">
            <br>
          </span></td>
            <td style="border:none;" width="15.52346570397112%"><span style="font-size:
      12px;">
            <br>
          </span></td>
            <td style="border:none;" width="1.9855595667870036%"><span style="font-size:
      12px;">
            <br>
          </span></td>
            <td style="border:none;" width="8.303249097472925%"><span style="font-size:
      12px;">
            <br>
          </span></td>
            <td style="border:none;" width="26.353790613718413%"><span style="font-size:
      12px;">
            <br>
          </span></td>
        </tr>
        </tbody>
    </table>
</div>
<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;"><span
        style="font-size:
      12px;"><strong><span style="font-family:Nunito;">PARTNER DETAILS</span></strong>
	</span>
</p>

#dealer_details#

<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;"><span
        style="font-size:
      12px;"><strong><span style="font-family:Nunito;">EXISTING LOANS</span></strong>
	</span>
</p>
<div align="center" style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;">
    <table border="1" cellpadding="0" cellspacing="0" style="width:553.25pt;border-collapse:collapse;border:none;"
           width="738">
        <tbody>
        <tr>
            <td colspan="2"
                style="width: 184.4pt;border: 1pt solid windowtext;padding: 0cm 5.4pt;height: 35.75pt;vertical-align: top;"
                valign="top" width="33.333333333333336%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Loan Account Number</span></strong>
						</span>
                </p>
            </td>
            <td colspan="3"
                style="width: 184.4pt;border-top: 1pt solid windowtext;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-image: initial;border-left: none;padding: 0cm 5.4pt;height: 35.75pt;vertical-align: top;"
                valign="top" width="33.333333333333336%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Financier Name</span></strong>
						</span>
                </p>
            </td>
            <td colspan="2"
                style="width: 184.45pt;border-top: 1pt solid windowtext;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-image: initial;border-left: none;padding: 0cm 5.4pt;height: 35.75pt;vertical-align: top;"
                valign="top" width="33.333333333333336%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Loan Amount</span></strong>
						</span>
                </p>
            </td>
        </tr>
        <tr>
            <td style="width: 110.55pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 35.75pt;vertical-align: top;"
                valign="top" width="19.891745602165088%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Loan Type</span></strong>
						</span>
                </p>
            </td>
            <td colspan="2"
                style="width: 110.65pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 35.75pt;vertical-align: top;"
                valign="top" width="20.027063599458728%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Tenure</span></strong>
						</span>
                </p>
            </td>
            <td style="width: 110.65pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 35.75pt;vertical-align: top;"
                valign="top" width="20.027063599458728%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">EMI&nbsp;</span></strong><span
                        style="line-height: 115%; font-family: Nunito;">(in Rs.)</span></span>
                </p>
            </td>
            <td colspan="2"
                style="width: 110.7pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 35.75pt;vertical-align: top;"
                valign="top" width="20.027063599458728%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Loan Start Date</span></strong>
						</span>
                </p>
            </td>
            <td style="width: 110.7pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 35.75pt;vertical-align: top;"
                valign="top" width="20.027063599458728%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">O/S Balance</span></strong>
						</span>
                </p>
            </td>
        </tr>
        <tr>
            <td style="border:none;" width="20%"><span style="font-size:
      12px;">
          <br>
        </span></td>
            <td style="border:none;" width="13.333333333333334%"><span style="font-size:
      12px;">
          <br>
        </span></td>
            <td style="border:none;" width="6.666666666666667%"><span style="font-size:
      12px;">
          <br>
        </span></td>
            <td style="border:none;" width="20%"><span style="font-size:
      12px;">
          <br>
        </span></td>
            <td style="border:none;" width="6.666666666666667%"><span style="font-size:
      12px;">
          <br>
        </span></td>
            <td style="border:none;" width="13.333333333333334%"><span style="font-size:
      12px;">
          <br>
        </span></td>
            <td style="border:none;" width="20%"><span style="font-size:
      12px;">
          <br>
        </span></td>
        </tr>
        </tbody>
    </table>
</div>
<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;"><span
        style="font-size:
      12px;"><strong><span style="font-family:Nunito;">BANK ACCOUNT DETAILS</span></strong>
	</span>
</p>
<div align="center" style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;">
    <table border="1" cellpadding="0" cellspacing="0" style="width:553.25pt;border-collapse:collapse;border:none;"
           width="738">
        <tbody>
        <tr>
            <td colspan="3"
                style="width: 276.6pt;border: 1pt solid windowtext;padding: 0cm 5.4pt;height: 35.75pt;vertical-align: top;"
                valign="top" width="50%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Bank Account Number</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#account_no#</span></span>
                </p>
            </td>
            <td colspan="3"
                style="width: 276.65pt;border-top: 1pt solid windowtext;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-image: initial;border-left: none;padding: 0cm 5.4pt;height: 35.75pt;vertical-align: top;"
                valign="top" width="50%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Account Name</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#account_name#</span></span>
                </p>
            </td>
        </tr>
        <tr>
            <td style="width: 110.55pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 35.75pt;vertical-align: top;"
                valign="top" width="19.891745602165088%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Bank Name</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#bank_name#</span></span>
                </p>
            </td>
            <td style="width: 110.65pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 35.75pt;vertical-align: top;"
                valign="top" width="20.027063599458728%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Branch</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#bank_branch#</span></span>
                </p>
            </td>
            <td colspan="2"
                style="width: 110.65pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 35.75pt;vertical-align: top;"
                valign="top" width="20.027063599458728%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Account Type</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#account_type#</span></span>
                </p>
            </td>
            <td style="width: 110.7pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 35.75pt;vertical-align: top;"
                valign="top" width="20.027063599458728%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Account Since</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#account_since#</span></span>
                </p>
            </td>
            <td style="width: 110.7pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 35.75pt;vertical-align: top;"
                valign="top" width="20.027063599458728%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">IFSC</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#ifsc#</span></span>
                </p>
            </td>
        </tr>
        <tr>
            <td style="border:none;" width="20.03610108303249%"><span style="font-size:
      12px;">
          <br>
        </span></td>
            <td style="border:none;" width="20.03610108303249%"><span style="font-size:
      12px;">
          <br>
        </span></td>
            <td style="border:none;" width="9.927797833935019%"><span style="font-size:
      12px;">
          <br>
        </span></td>
            <td style="border:none;" width="9.927797833935019%"><span style="font-size:
      12px;">
          <br>
        </span></td>
            <td style="border:none;" width="20.03610108303249%"><span style="font-size:
      12px;">
          <br>
        </span></td>
            <td style="border:none;" width="20.03610108303249%"><span style="font-size:
      12px;">
          <br>
        </span></td>
        </tr>
        </tbody>
    </table>
</div>
<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;"><span
        style="font-size:
      12px;"><strong><span style="font-family:Nunito;">ASSET DETAILS</span></strong>
	</span>
</p>
<div align="center" style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;">
    <table border="1" cellpadding="0" cellspacing="0" style="width:553.25pt;border-collapse:collapse;border:none;"
           width="738">
        <tbody>
        <tr>
            <td style="width: 110.55pt;border: 1pt solid windowtext;padding: 0cm 5.4pt;height: 35.75pt;vertical-align: top;"
                valign="top" width="19.891745602165088%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Asset Type</span></strong>
						</span>
                </p>
            </td>
            <td style="width: 110.65pt;border-top: 1pt solid windowtext;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-image: initial;border-left: none;padding: 0cm 5.4pt;height: 35.75pt;vertical-align: top;"
                valign="top" width="20.027063599458728%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Cost&nbsp;</span></strong><span
                        style="line-height: 115%; font-family: Nunito;">(in Rs.)</span></span>
                </p>
            </td>
            <td style="width: 110.65pt;border-top: 1pt solid windowtext;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-image: initial;border-left: none;padding: 0cm 5.4pt;height: 35.75pt;vertical-align: top;"
                valign="top" width="20.027063599458728%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Market value</span></strong>
						</span>
                </p>
            </td>
            <td style="width: 110.7pt;border-top: 1pt solid windowtext;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-image: initial;border-left: none;padding: 0cm 5.4pt;height: 35.75pt;vertical-align: top;"
                valign="top" width="20.027063599458728%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Ownership</span></strong>
						</span>
                </p>
            </td>
            <td style="width: 110.7pt;border-top: 1pt solid windowtext;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-image: initial;border-left: none;padding: 0cm 5.4pt;height: 35.75pt;vertical-align: top;"
                valign="top" width="20.027063599458728%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span
                        style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Ownership Proof</span></strong>
						</span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;"><span style="font-size:
      12px;"><strong><span style="font-family:Nunito;">Declaration by Applicant &amp; Guarantor</span></strong>
	</span>
</p>
<p style="margin:0cm;margin-bottom:6.0pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:justify;"><span
        style="font-size:
      12px;"><span style="font-family: Nunito;">I/We declare that all particulars &amp; information given in the application form are true and correct.&nbsp;</span></span>
</p>
<p style="margin:0cm;margin-bottom:6.0pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:justify;"><span
        style="font-size:
      12px;"><span style="font-family: Nunito;">I/We understand that in the event of being found any information to be false in this application, PetroMoney Fintech (A Unit of Green Malabar Finance Ventures Limited) reserves right to recall the loan with due interest at any given point of time, after giving 15 days’ notice.&nbsp;</span></span>
</p>
<p style="margin:0cm;margin-bottom:6.0pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:justify;"><span
        style="font-size:
      12px;"><span style="font-family: Nunito;">I/We authorize PetroMoney or any of its appointed agents to make references and enquired related to information in this application including credit reference check at various credit information bureaus, which may deemed necessary.&nbsp;</span></span>
</p>
<p style="margin:0cm;margin-bottom:6.0pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:justify;"><span
        style="font-size:
      12px;"><span style="font-family: Nunito;">I/We further agree that my/our loan shall be governed by the rules of PetroMoney as applicable from time to time. PetroMoney reserves the right to accept/reject my/our application without providing any reason.&nbsp;</span></span>
</p>
<p style="margin:0cm;margin-bottom:6.0pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:justify;"><span
        style="font-size:
      12px;"><span style="font-family: Nunito;">I/We give my consent and authorize PetroMoney to verify my identity details through the Aadhar database held with Unique Identification Authority of India (UIDAI) through any of the modes of authentication as per the rules and regulations in the relation to such authentication or such other authority as may be regulated from time to time.&nbsp;</span></span>
</p>
<p style="margin:0cm;margin-bottom:12.0pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:justify;"><span
        style="font-size:
      12px;"><span style="font-family: Nunito;">I/We authorize PetroMoney to send my identity information (Aadhar number , biometric information &amp; demographic information) to UIDAI or such authority as maybe regulated from time to time for authentication through any of the modes of authentication as per the rules and regulations in relation to such authentication.</span></span>
</p>
<div align="center" style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;">
    <table border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border:none;">
        <tbody>
        <tr>
            <td style="width: 261.25pt;border: 1pt solid windowtext;padding: 0cm 5.4pt;height: 51.15pt;vertical-align: bottom;"
                valign="bottom" width="50%">
                <p style="margin:0cm;margin-bottom:6.0pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:right;"><span
                        style="font-size:
      12px;"><strong><span style="font-family: Nunito;">Borrower Signature</span></strong>
						</span>
                </p>
            </td>
            <td style="width: 261.25pt;border-top: 1pt solid windowtext;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-image: initial;border-left: none;padding: 0cm 5.4pt;height: 51.15pt;vertical-align: bottom;"
                valign="bottom" width="50%">
                <p style="margin:0cm;margin-bottom:6.0pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:right;"><span
                        style="font-size:
      12px;"><strong><span style="font-family: Nunito;">Co-Borrower Signature</span></strong>
						</span>
                </p>
            </td>
        </tr>
        <tr>
            <td style="width:261.25pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;"
                width="50%">
                <p style="margin:0cm;margin-bottom:6.0pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;"><span
                        style="font-size:
      12px;"><strong><span style="font-family: Nunito;">Place</span></strong>
						</span>
                </p>
            </td>
            <td style="width:261.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;"
                width="50%">
                <p style="margin:0cm;margin-bottom:6.0pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;"><span
                        style="font-size:
      12px;"><strong><span style="font-family: Nunito;">Place</span></strong>
						</span>
                </p>
            </td>
        </tr>
        <tr>
            <td style="width:261.25pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;"
                width="50%">
                <p style="margin:0cm;margin-bottom:6.0pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;"><span
                        style="font-size:
      12px;"><strong><span style="font-family: Nunito;">Date</span></strong>
						</span>
                </p>
            </td>
            <td style="width:261.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;"
                width="50%">
                <p style="margin:0cm;margin-bottom:6.0pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;"><span
                        style="font-size:
      12px;"><strong><span style="font-family: Nunito;">Date</span></strong>
						</span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;"><span style="font-size:
      12px;"><span style="font-family:Nunito;">&nbsp;</span></span>
</p>


#_dealers#
<div style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;">
	<strong><span style="font-family:Nunito;">
        Co-Borrowers
    </span></strong>
    <table border="0" cellpadding="0" cellspacing="0" style="width:553.5pt;border-collapse:collapse;border:none;"
	width="738">
	<tbody>
		<tr>
			#_coapplicants# 
        </tr>
        </tbody>
    </table>
</div>

<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:justify;line-height:115%;"><span
        style="font-size:
      12px;"><span style="line-height: 115%; font-family: Nunito;">This is to acknowledge receipt of Preliminary credit Facility Application Form for #loan_type# and thank you for the same. We shall communicate the decision on your application within 21 working days. This is subject to submission of all documents and conforming to internal guidelines of our Company.&nbsp;</span></span>
</p>
<div align="center" style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;">
    <table border="1" cellpadding="0" cellspacing="0" style="width:524.45pt;border-collapse:collapse;border:none;"
           width="699">
        <tbody>
        <tr>
            <td colspan="2"
                style="width: 262.2pt;border: 1pt solid windowtext;padding: 0cm 5.4pt;height: 34.05pt;vertical-align: top;"
                valign="top" width="50%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;"><span
                        style="font-size:
      12px;"><strong><span style="font-family: Nunito;">Application Number</span></strong>
						</span>
                </p>
            </td>
            <td colspan="2"
                style="width: 262.2pt;border-top: 1pt solid windowtext;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-image: initial;border-left: none;padding: 0cm 5.4pt;height: 34.05pt;vertical-align: top;"
                valign="top" width="50%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;"><span
                        style="font-size:
      12px;"><strong><span style="font-family: Nunito;">Applicant Name</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#name#</span></span>
                </p>
            </td>
        </tr>
        <tr>
            <td style="width: 174.8pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 34.05pt;vertical-align: top;"
                valign="top" width="33.333333333333336%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;"><span
                        style="font-size:
      12px;"><strong><span style="font-family: Nunito;">Loan Applied</span></strong>
						</span>
                </p>
            </td>
            <td colspan="2"
                style="width: 174.8pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 34.05pt;vertical-align: top;"
                valign="top" width="33.333333333333336%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;"><span
                        style="font-size:
      12px;"><strong><span style="font-family: Nunito;">Loan Amount</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#loan_amount#</span></span>
                </p>
            </td>
            <td style="width: 174.85pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 34.05pt;vertical-align: top;"
                valign="top" width="33.333333333333336%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;"><span
                        style="font-size:
      12px;"><strong><span style="font-family: Nunito;">Date</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#date#</span></span>
                </p>
            </td>
        </tr>
        <tr>
            <td style="width: 174.8pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 34.05pt;vertical-align: top;"
                valign="top" width="33.333333333333336%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;"><span
                        style="font-size:
      12px;"><strong><span style="font-family: Nunito;">Tenure (in days)</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">15 Days</span></span>
                </p>
            </td>
            <td colspan="2"
                style="width: 174.8pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 34.05pt;vertical-align: top;"
                valign="top" width="33.333333333333336%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;"><span
                        style="font-size:
      12px;"><strong><span style="font-family: Nunito;">Rate of Interest</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">18%</span></span>
                </p>
            </td>
            <td style="width: 174.85pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 34.05pt;vertical-align: top;"
                valign="top" width="33.333333333333336%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;"><span
                        style="font-size:
      12px;"><strong><span style="font-family: Nunito;">Processing Fee</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#processing_fee#</span></span>
                </p>
            </td>
        </tr>
        <tr>
            <td style="width: 174.8pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 34.05pt;vertical-align: top;"
                valign="top" width="33.333333333333336%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;"><span
                        style="font-size:
      12px;"><strong><span style="font-family: Nunito;">Executive Name</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#executive_name#</span></span>
                </p>
            </td>
            <td colspan="2"
                style="width: 174.8pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 34.05pt;vertical-align: top;"
                valign="top" width="33.333333333333336%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;"><span
                        style="font-size:
      12px;"><strong><span style="font-family: Nunito;">Executive Code</span></strong>
						</span>
                </p>
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span
                        style="font-size:
      12px;"><span style="font-family:Nunito;">#sales_fo_id#</span></span>
                </p>
            </td>
            <td style="width: 174.85pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 34.05pt;vertical-align: bottom;"
                valign="bottom" width="33.333333333333336%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:right;"><span
                        style="font-size:
      12px;"><strong><span style="font-family: Nunito;">Executive Signature</span></strong>
						</span>
                </p>
            </td>
        </tr>
        <tr>
            <td style="width: 174.8pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 31.55pt;vertical-align: top;"
                valign="top" width="33.333333333333336%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;"><span
                        style="font-size:
      12px;"><strong><span style="font-family: Nunito;">DSA Name</span></strong>
						</span>
                </p>
            </td>
            <td colspan="2"
                style="width: 174.8pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 31.55pt;vertical-align: top;"
                valign="top" width="33.333333333333336%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;"><span
                        style="font-size:
      12px;"><strong><span style="font-family: Nunito;">DSA Code</span></strong>
						</span>
                </p>
            </td>
            <td style="width: 174.85pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 31.55pt;vertical-align: top;"
                valign="top" width="33.333333333333336%">
                <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;"><span
                        style="font-size:
      12px;"><strong><span style="font-family: Nunito;">&nbsp;</span></strong>
						</span>
                </p>
            </td>
        </tr>
        <tr>
            <td style="border:none;" width="33.396946564885496%"><span style="font-size:
      12px;">
          <br>
        </span></td>
            <td style="border:none;" width="16.603053435114504%"><span style="font-size:
      12px;">
          <br>
        </span></td>
            <td style="border:none;" width="16.603053435114504%"><span style="font-size:
      12px;">
          <br>
        </span></td>
            <td style="border:none;" width="33.396946564885496%"><span style="font-size:
      12px;">
          <br>
        </span></td>
        </tr>
        </tbody>
    </table>
</div>
<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;margin-top:6.0pt;"><span
        style="font-size:
      12px;"><strong><span
        style="font-family: Nunito;">SCHEDULE OF CHARGES FOR LOAN AGAINST ELECTRONIC PAYMENT</span></strong>
	</span>
</p>
<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;margin-top:6.0pt;text-align:justify;">
    <span style="font-size: 12px; font-family: Nunito;">Pre-payment Charges: 2% of future principal outstanding amount or 6 months from the date of disbursement. Bounce charges : 500 per Cheque / NACH return. Outstanding interest: 2% at the end of the month on any amount 30 days past due. </span>
</p>