<div align="center" style="margin-top:10cm;margin-bottom:.0001pt;margin-top:5px;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;">
	<table border="1" cellpadding="0" cellspacing="0" style="width:552.6pt;border-collapse:collapse;border:none;" width="737">
		<tbody>
			<tr>
				<td colspan="2" style="width: 270.1pt;border: 1pt solid windowtext;padding: 0cm 5.4pt;height: 35.15pt;vertical-align: top;" valign="top" width="48.846675712347356%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">First Name*&nbsp;</span></strong><span style="line-height: 115%; font-family: Nunito;">(as on PAN Card)</span></span>
					</p>
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;">#first_name#</span></span>
					</p>
				</td>
				<td colspan="2" style="width: 282.5pt;border-top: 1pt solid windowtext;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-image: initial;border-left: none;padding: 0cm 5.4pt;height: 35.15pt;vertical-align: top;" valign="top" width="51.153324287652644%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Last Name*&nbsp;</span></strong><span style="line-height: 115%; font-family: Nunito;">(as on PAN Card)</span></span>
					</p>
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;">#last_name#</span></span>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="width: 270.1pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 35.15pt;vertical-align: top;" valign="top" width="48.846675712347356%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Fathers' Name*</span></strong>
						</span>
					</p>
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;"></span></span>
					</p>
				</td>
				<td colspan="2" style="width: 282.5pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 35.15pt;vertical-align: top;" valign="top" width="51.153324287652644%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Mothers' Name*</span></strong>
						</span>
					</p>
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;"></span></span>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="width: 270.1pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 35.15pt;vertical-align: top;" valign="top" width="48.846675712347356%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">PAN*</span></strong></span>
					</p>
                    <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;">#pan#</span></span>
					</p>
				</td>
				<td colspan="2" style="width: 282.5pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 35.15pt;vertical-align: top;" valign="top" width="51.153324287652644%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Aadhar UID Number*</span></strong></span>
					</p>
                    <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;">#aadhar#</span></span>
					</p>
				</td>
			</tr>
			<tr>
				<td style="width: 138.15pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 35.15pt;vertical-align: top;" valign="top" width="25%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Date of Birth*</span></strong>
						</span>
					</p>
                    <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;">#dob#</span></span>
					</p>
				</td>
				<td style="width: 131.95pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 35.15pt;vertical-align: top;" valign="top" width="23.91304347826087%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Gender*</span></strong>
						</span>
					</p>
                    <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;">#gender#</span></span>
					</p>
				</td>
				<td style="width: 144.35pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 35.15pt;vertical-align: top;" valign="top" width="26.08695652173913%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Marital Status*</span></strong>
						</span>
					</p>
                    <p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;">#marital_status#</span></span>
					</p>
				</td>
				<td style="width: 138.15pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 35.15pt;vertical-align: top;" valign="top" width="25%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">No. of. Dependencies*</span></strong>
						</span>
					</p>
				</td>
			</tr>
			<tr>
				<td style="width: 138.15pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 35.15pt;vertical-align: top;" valign="top" width="25%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Email</span></strong>
						</span>
					</p>
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;">#dealer_email#</span></span>
					</p>
				</td>
				<td style="width: 131.95pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 35.15pt;vertical-align: top;" valign="top" width="23.91304347826087%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Primary Mobile No.</span></strong>
						</span>
					</p>
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;">#dealer_mobile#</span></span>
					</p>
				</td>
				<td style="width: 144.35pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 35.15pt;vertical-align: top;" valign="top" width="26.08695652173913%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Secondary Mobile No.</span></strong>
						</span>
					</p>
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;"></span></span>
					</p>
				</td>
				<td style="width: 138.15pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 35.15pt;vertical-align: top;" valign="top" width="25%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Qualification*</span></strong>
						</span>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="width: 270.1pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 68.5pt;vertical-align: top;" valign="top" width="48.846675712347356%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span
                        style="line-height: 115%; font-family: Nunito;">Current Residence Address*</span></strong>
						</span>
					</p>
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;">#temporary_address#</span></span>
					</p>
				</td>
				<td colspan="2" style="width: 282.5pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 68.5pt;vertical-align: top;" valign="top" width="51.153324287652644%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Permanent Address*</span></strong>
						</span>
					</p>
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;">#permanent_address#</span></span>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="width: 270.1pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 38.25pt;vertical-align: top;" valign="top" width="48.846675712347356%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Landmark</span></strong>
						</span>
					</p>
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;">#landmark#</span></span>
					</p>
				</td>
				<td colspan="2" style="width: 282.5pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 38.25pt;vertical-align: top;" valign="top" width="51.153324287652644%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Landmark</span></strong>
						</span>
					</p>
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;">#landmark_p#</span></span>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="width: 270.1pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 32.7pt;vertical-align: top;" valign="top" width="48.846675712347356%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">City</span></strong>
						</span>
					</p>
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;">#city#</span></span>
					</p>
				</td>
				<td colspan="2" style="width: 282.5pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 32.7pt;vertical-align: top;" valign="top" width="51.153324287652644%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">City</span></strong>
						</span>
					</p>
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;">#pin_p#</span></span>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="width: 270.1pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 32.7pt;vertical-align: top;" valign="top" width="48.846675712347356%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Pincode</span></strong>
						</span>
					</p>
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;"></span></span>
					</p>
				</td>
				<td colspan="2" style="width: 282.5pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 32.7pt;vertical-align: top;" valign="top" width="51.153324287652644%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Pincode</span></strong>
						</span>
					</p>
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;"></span></span>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="width: 270.1pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 32.7pt;vertical-align: top;" valign="top" width="48.846675712347356%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Residence Type*</span></strong>
						</span>
					</p>
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;">Self-Owned/Rented</span></span>
					</p>
				</td>
				<td colspan="2" style="width: 282.5pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 32.7pt;vertical-align: top;" valign="top" width="51.153324287652644%">
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;line-height:115%;"><span style="font-size:
      12px;"><strong><span style="line-height: 115%; font-family: Nunito;">Residing Since*</span></strong>
						</span>
					</p>
					<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;font-family:&quot;Calibri&quot;,sans-serif;text-align:center;line-height:115%;"><span style="font-size:
      12px;"><span style="font-family:Nunito;"></span></span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>